@use "../../global/variables.scss" as vars;

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid vars.$cart-item-border-color;
  border-radius: 4px;

  &.ProductItemImg {
    background-color: white;
    min-height: 339px;
    min-width: 254px;
    padding: 3px 15px 4px 15px;
  }

  &.Hovered {
    border: 1px solid transparent;
    outline: unset;
    width: 252px;
    min-width: 252px;
    padding: 2px 13px 4px 13px;
  }

  &.BasketItemImg {
    width: 54px;
    height: 72px;
    margin-right: 10px;
  }
}
