@use "../../global/variables.scss" as vars;
// TODO: PIXEL PERFECT
.Container {
  display: flex;
  flex-direction: column;
  position: relative;

  .PageTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    min-height: 30px;
    color: vars.$primary-font-color;
  }

  .SearchContainer {
    display: flex;
    align-items: baseline;
    position: absolute;
    top: 30px;
    left: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;

    .SearchLabel {
      color: vars.$muted-font-color;
    }

    .searchText {
      color: black;
    }
  }
}
