@use "../../global/variables.scss" as vars;

.Container {
  display: flex;
  flex-grow: 3;
  position: relative;
  flex-direction: column;
  padding-left: 3px;

  .PageTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    min-height: 30px;
    color: vars.$primary-font-color;
  }

  .SearchContainer {
    display: flex;
    align-items: baseline;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;

    .SearchLabel {
      color: vars.$muted-font-color;
      width: 100.33px;
      min-width: 100.33px;
    }

    .searchText {
      margin-left: 6px;
      color: black;
    }
  }
}
