@use "../../../global/variables.scss" as vars;

.Container {
  display: flex;
  width: 100%;
  min-height: 96px;
  height: 96px;
  padding: 0 80px;
  align-items: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
  z-index: 1;

  .Link {
    height: 35px;
    min-width: 211.52px;
    margin-right: 153.48px;
    min-height: 35px;
  }

  @media only screen and (min-width: vars.$desktop-width) {
    justify-content: center;
  }
}
