@use "../../../global/variables.scss" as vars;

.Container {
  position: absolute;
  top: 38px;
  right: 0;
  width: 360px;
  height: 360px;
  min-width: 360px;
  min-height: 360px;
  background-color: #ffff;
  border: 1px solid vars.$border-color;
  border-radius: 4px;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 118px;
    top: -1px;
    right: 0;
    z-index: 3;
    border: 2px solid #ffff;
  }
}
