@use "../../../global/variables.scss" as vars;

.Container {
  position: absolute;
  top: 38px;
  right: 0;
  padding: 21px;
  width: 360px;
  height: 360px;
  min-width: 360px;
  min-height: 360px;
  background-color: #ffff;
  border: 1px solid vars.$border-color;
  border-radius: 4px;
  overflow-y: scroll;
}
